@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;    
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 3.25em;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: rgb(253, 255, 106);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-family: var(--fonte3);
    font-size: 1.125em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #333333;
    color: white;
    box-shadow: inset 6px 6px 16px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    width: 400px;
    background-color: #161616a6;
    padding: 20px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.918);
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 0.75em;
    line-height: 1.6em;    
}