@charset "UTF-8";

:root {
    --cor01: #747c85;
    --cor02: #343a40;
    --cor03: #495057;
    --cor04: #ee6c4d;
    --cor05: #ca5a3e;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--cor03);           
} 

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--cor03);
    padding: 30px 40px 30px 40px;
    color: white;
    line-height: 3em;
}

section {
    padding: 40px;
}

table {
    width: 600px;
    padding: 30px;            
    border-collapse: collapse;
    position: relative;
}

thead {                 
    background-color: var(--cor03);
    color: white; 
               
}

thead > tr > th {
    padding: 14px;
    border: 1px solid var(--cor02);
}

tr, td {
    border: 1px solid var(--cor02);         
    padding: 14px;
    text-align: center;            
}

hr {
    color: var(--cor04);
}

td.bold {
    font-weight: bold;
}

tr.menu {
    background-color: var(--cor03);
    color: white;
}

footer {
    background-color: var(--cor02);
    color: white;
    line-height: 2em;
    text-align: center;
    padding: 40px 20px;
}

a {
    color: var(--cor04);
}