@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #f2c3A7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ac8b778e;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px #c5770988;
}

h2{
    color: #125189;
}


p {
    text-align: justify;
}