@charset "UTF-8";

@media screen and (min-width: 768px){
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}